@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit-based browsers (Chrome, Safari) */
.body-scroll::-webkit-scrollbar {
  width: 12px !important;
}

.body-scroll::-webkit-scrollbar-track {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
  border-radius: 32px !important;
  background-color: transparent;
}

.body-scroll::-webkit-scrollbar-thumb {
  border-radius: 32px !important;
  background-color: theme(colors.grey.primary.tint.40);
}

/* Firefox */
/* .body-scroll {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.grey.primary.tint.40) transparent;
} */

/* Fallback for older browsers */
/* .body-scroll {
  overflow-y: scroll;
} */

svg {
  height: 18px;
  width: 18px;
}

.gradient-text{
  background-image: linear-gradient(90deg,#4624E0,#e5e3f0);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.custom-select {
  /* Hide the default arrow */
  -webkit-appearance: none;
  /* For Chrome, Safari, and newer versions of Opera */
  -moz-appearance: none;
  /* For Firefox */
  /* For modern browsers */
  appearance: none;
  padding-right: 2.5rem;
  /* Space for the custom arrow */
  padding-left: 2.5rem;
  /* Space for the round div */
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  pointer-events: none;
  /* Prevents the div from capturing click events */
}

.custom-arrow {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  pointer-events: none;
  /* Prevents the arrow from capturing click events */
}

.relative {
  position: relative;
  /* Ensures the custom arrow and round div are positioned correctly */
}